@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background-color-body: 255, 255, 255;
}

/* Sans Serif - Omnes */

@font-face {
  font-family: 'Omnes-Light';
  src: url(fonts/Omnes-Light.ttf);
}

@font-face {
  font-family: 'Omnes-Medium';
  src: url(fonts/Omnes-Medium.ttf);
}

@font-face {
  font-family: 'Omnes-Regular';
  src: url(fonts/Omnes-Regular.ttf);
}

@font-face {
  font-family: 'Omnes-SemiBold';
  src: url(fonts/Omnes-SemiBold.ttf);
}

/* Sans Serif - SourceSansPro */

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url(fonts/SourceSansPro-Bold.ttf);
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url(fonts/SourceSansPro-Light.ttf);
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url(fonts/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: 'SourceSansPro-Semibold';
  src: url(fonts/SourceSansPro-Semibold.ttf);
}

/* Extended className Utility */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Omnes-Regular", "sans-serif;
  line-height: 1;
  background-color: rgb(var(--background-color-body));
  box-sizing: border-box;
}

/* MapBox */

.mapboxgl-ctrl-bottom-right {
  display: none;
}